@inject AboutMeService AboutMe_Service

<div class="social-media">
    <a href="@($"mailto:{aboutMe.Email}")" target="_blank" class="me-3" title="@aboutMe.Email">
        <i class="bi bi-envelope-fill"></i>
    </a>
    <a href="@aboutMe.GitHub" target="_blank" class="me-3" title="@aboutMe.GitHub">
        <i class="bi bi-github"></i>
    </a>
    <a href="@aboutMe.LinkedIn" target="_blank" title="@aboutMe.LinkedIn">
        <i class="bi bi-linkedin"></i>
    </a>
</div>

@code 
{
    private AboutMe aboutMe = new();

    protected override async Task OnInitializedAsync() => aboutMe = await AboutMe_Service.GetAboutMeAsync();
}
